* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  font-family: sans-serif;
}

.header {
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
}

.title {
  display: flex;
  color: cyan;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.history {
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 100px;
  overflow-y: scroll;
  margin-bottom: 8px;
  text-align: right;
}
.calculator {
  background-color: #fff;
  margin: 40px auto;
  max-width: 400px;
  padding: 16px;
  border-radius: 4px;
}

.display {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 1.2em;
}

.error {
  color: crimson;
  font-size: 0.7em;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-top: 16px;
}

button {
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  border-radius: 4px;
  background-color: #efefef;
  padding: 8px;
  cursor: pointer;
}

.span2 {
  grid-column: span 2;
}
.primary {
  background-color: #ffeec2;
  color: #c49023;
}
